.App {
  text-align: center;

}
body{
  background-color: #005270;
}
.font{
  margin-top: 3rem;
  font-size: 3rem;
  font-weight: 700;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
span{
  color: red;
}
input{
  outline: none;
  background: white;
  padding: .4rem;
  color: black;
  width: 20rem;
  text-align: center;
  text-transform:uppercase;
}
.h2{
  color: white;
  font-size: 3rem;
}
.uppercase{
  text-transform: capitalize;
}
.color {
  color: white;
}
.container{
  
  display: flex;
  align-items: center;
  justify-content: center;
}
span{
  color: red;
}
.content{
 min-width: 70rem;
 max-width: 60rem;
 min-height: 30rem;
  background-color: #005270;
  margin-top: 3rem;
}
.margin-right{
  margin-right: 3rem;
  color: white;
}
.padding{
  padding: .2rem ;
}.margin{
  margin: .5rem 0;
}
.fa-sun{
  color: white;
  font-size: 3rem;
}
.fa-cloud{
color: white;
font-size: 3rem;}