
.Navbar{
    border-bottom: 1px solid red;
}

.chv_logo{
    width: 50px;
    margin-left: 1.5rem;
}
.Nav_box{
    margin-right: 3rem;
}
.Nav_box a{
    text-decoration: none;
    color: white;
}

#navbarScroll{
    color: white !important;
}
.Nav_ctr{
    display: inline-flex;
    text-align: center;
    margin-left: 2rem;
    
}
.Nav_ctr p{
    margin-left: .4rem;
}

.navbar-toggler-icon{
    background-image: url(../Images/menubar2.png) !important;
    width: 25px !important;
}